@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.modal__body {
    @extend .modal-body;
}

.modal__button {
    @extend .btn;
    @extend .btn-sm;
    min-width: 150px;
}

.modal__button--success {
    background-color: #1be3ac;
    color: white;
}

.modal__header {
    @extend .modal-header;
}

.modal--green .modal__header {
    background-color: #1be3ac;
}

.modal--yellow .modal__header {
    background-color: #ffae00;
}

.modal__header .modal__title {
    @extend .modal-title;
    margin: auto;
    font-size: 70px;
    color: white;
}

.modal__dismiss {
    @extend .close;
    @extend .float-right;
    @extend .m-0;
    @extend .p-0;
    color: white;
}

.modal__footer {
    @extend .modal-footer;
    justify-content: center;
}